<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jy.moudles.shieldLog.dao.ShieldLogDao">

	<resultMap id="BaseResultMap" type="com.jy.moudles.shieldLog.entity.ShieldLog">
        <id column="id" property="id" jdbcType="VARCHAR"/>
		<result column="operation_moudle" property="operationMoudle" jdbcType="VARCHAR"/>
		<result column="operation_type" property="operationType" jdbcType="INTEGER"/>
		<result column="operation_time" property="operationTime" jdbcType="TIMESTAMP"/>
		<result column="operation_user" property="operationUser" jdbcType="VARCHAR"/>
		<result column="operation_info" property="operationInfo" jdbcType="VARCHAR"/>
		<result column="create_user" property="createUser" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="update_user" property="updateUser" jdbcType="VARCHAR"/>
        <result column="update_date" property="updateDate" jdbcType="TIMESTAMP"/>
    </resultMap>
    
    <sql id="Base_Column_List">
        id, operation_moudle, operation_type, operation_time, operation_user, operation_info, create_user, create_date, update_user, update_date
    </sql>
    
    <insert id="insertShieldLog">
        INSERT INTO JY_SHIELD_LOG_TAB
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
			<if test="operationMoudle != null">operation_moudle,</if>
			<if test="operationType != null">operation_type,</if>
			<if test="operationTime != null">operation_time,</if>
			<if test="operationUser != null">operation_user,</if>
			<if test="operationInfo != null">operation_info,</if>
            <if test="createUser != null">create_user,</if>
            <if test="createDate != null">create_date,</if>
            <if test="updateUser != null">update_user,</if>
            <if test="updateDate != null">update_date,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id,jdbcType=VARCHAR},</if>
			<if test="operationMoudle != null">#{operationMoudle},</if>
			<if test="operationType != null">#{operationType},</if>
			<if test="operationTime != null">#{operationTime},</if>
			<if test="operationUser != null">#{operationUser},</if>
			<if test="operationInfo != null">#{operationInfo},</if>
            <if test="createUser != null">#{createUser,jdbcType=VARCHAR},</if>
            <if test="createDate != null">#{createDate,jdbcType=TIMESTAMP},</if>
            <if test="updateUser != null">#{updateUser,jdbcType=VARCHAR},</if>
            <if test="updateDate != null">#{updateDate,jdbcType=TIMESTAMP},</if>
        </trim>
    </insert>
    
    <update id="updateShieldLog">
        update JY_SHIELD_LOG_TAB
        <set>
			<if test="operationMoudle != null and '' != operationMoudle">
				operation_moudle = #{operationMoudle},
			</if>
			<if test="operationType != null and '' != operationType">
				operation_type = #{operationType},
			</if>
			<if test="operationTime != null and '' != operationTime">
				operation_time = #{operationTime},
			</if>
			<if test="operationUser != null and '' != operationUser">
				operation_user = #{operationUser},
			</if>
			<if test="operationInfo != null and '' != operationInfo">
				operation_info = #{operationInfo},
			</if>
            <if test="createUser != null and ''!=createUser">
                create_user = #{createUser,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null and ''!=createDate">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="updateUser != null and ''!=updateUser">
                update_user = #{updateUser,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null  and ''!=updateDate">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
        </set>
        <where>
            <choose>
                <when test="id != null">
                    id = #{id}
                </when>
            </choose>
        </where>
    </update>
    
    <select id="getShieldLogById" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from `JY_SHIELD_LOG_TAB`
        WHERE id = #{id}
    </select>
    
    <select id="queryShieldLogsFilter" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from `JY_SHIELD_LOG_TAB`
        WHERE 1 = 1
			<if test="operationMoudle != null and '' != operationMoudle">
				AND operation_moudle = #{operationMoudle}
			</if>
			<if test="operationType != null and '' != operationType">
				AND operation_type = #{operationType}
			</if>
			<if test="operationTime != null and '' != operationTime">
				AND operation_time = #{operationTime}
			</if>
			<if test="operationUser != null and '' != operationUser">
				AND operation_user = #{operationUser}
			</if>
			<if test="operationInfo != null and '' != operationInfo">
				AND operation_info = #{operationInfo}
			</if>
    </select>
    
    <delete id="deleteShieldLogById" parameterType="java.lang.String">
        delete from `JY_SHIELD_LOG_TAB`
        where id = #{id}
    </delete>
    
    <delete id="deleteShieldLogs" parameterType="java.lang.String">
        delete from `JY_SHIELD_LOG_TAB`
        where id IN 
        <foreach collection="list" item="id" index="index" separator="," open="(" close=")">
             #{id}
        </foreach>
    </delete>
    
</mapper>