.titleInfo {
	border-bottom: 1px solid grey;
	margin: 20px 0 20px 0;
	font-weight: bold;
	font-size: 14px;
}
.table>tbody>tr>td, .table>thead>tr>th{
	text-align: center;
}
.colTh{
	width: 150px;
}
.container {
	width: 80%;
}